.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  width: 100%;
}

.columns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  width: 100%;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  width: 600px;
  height: auto;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 500px;
}

.passengerCard {
  margin-bottom: 16px;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.passengerHeader {
  font-size: large;
  cursor: pointer;
  padding: 16px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passengerHeader::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="white" d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6z"/></svg>');
  transition: transform 0.3s ease;
}

.passengerCard.active .passengerHeader::after {
  transform: rotate(90deg);
}

.passengerContent {
  display: none;
  padding: 16px;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.passengerCard.active .passengerContent {
  display: grid;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
}

.error {
  color: var(--danger);
  font-size: 12px;
  margin-top: 4px;
}

.completeButton {
  width: 100%;
  margin: 100px 0 40px 0;
  padding: 16px 0;
  background-color: var(--secondary);
  font-size: x-large;
  border: none;
  cursor: pointer;
  align-self: center;
}

.summarySection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  width: 100%;
  height: 120px;
  padding: 16px 16px 16px 48px;
}

.selectedSeats {
  flex: 1;
}

.selectedSeats ul {
  display: flex;
  gap: 8px;
}

.selectedSeats li {
  background-color: var(--warning);
  width: 24px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark);
  border-radius: 3px;
  list-style: none;
  padding: 4px;
  color: var(--black);
  font-size: 12px;
}

.seat {
  display: inline-block;
  background-color: var(--warning);
  width: 24px;
  height: 30px;
  border-radius: 4px;
  padding: 4px;
  color: var(--black);
  font-size: 16px;
  margin-right: 8px;
}

.seatSummary {
  flex: 1;
  text-align: right;
}

.seatSummary p {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--black);
  font-size: 16px;
  margin-bottom: 8px;
}

.seatSummary .seat {
  display: inline-block;
  background-color: var(--warning);
  width: 14px;
  height: 20px;
  border-radius: 4px;
  margin-left: 4px;
}

.seatSummary .price {
  display: block;
  margin-top: 8px;
  font-size: 24px;
  color: var(--black);
}

.seatWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  width: 12px;
}

.seatMap {
  display: grid;
  grid-template-columns: repeat(2, 12px) 1fr repeat(2, 12px);
  gap: 3px 0;
  justify-content: center;
}

.seatButton {
  position: relative;
  width: 10px;
  height: 16px;
  background-color: var(--light);
  border: 1px solid var(--secondary);
  border-radius: 3px;
  cursor: pointer;
}

.seatButton.occupied::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
  color: var(--white);
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.seatButton.occupied:hover::after {
  opacity: 1;
  visibility: visible;
}

.seatButton.selected {
  background-color: var(--warning);
  color: var(--white);
}

.seatButton.occupied {
  background-color: var(--secondary);
  color: var(--white);
  cursor: not-allowed;
}

.exitRow {
  grid-column: span 5;
  height: 40px;
}