.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  width: 100%;
}

.columns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  width: 100%;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  width: 500px;
  /* Fixed width */
  height: auto;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  /* Fixed width */
}

.passengerCard {
  margin-bottom: 16px;
  padding: 0;
  overflow: hidden;
  width: 100%;
  /* Fixed width */
}

.passengerHeader {
  font-size: large;
  cursor: pointer;
  padding: 20px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passengerHeader::after {
  content: ">";
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.passengerCard.active .passengerHeader::after {
  transform: rotate(90deg);
}

.passengerContent {
  display: none;
  padding: 16px;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.passengerCard.active .passengerContent {
  display: grid;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
}

.completeButton {
  width: 100%;
  margin: 100px 0 40px 0;
  padding: 16px 0;
  background-color: var(--secondary);
  font-size: x-large;
  border: none;
  cursor: pointer;
  align-self: center;
}

.summarySection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  width: 100%;
  height: 120px;
  padding: 16px;
}

.selectedSeats {
  flex: 1;
}

.selectedSeats ul {
  display: flex;
  gap: 8px;
}

.selectedSeats li {
  background-color: var(--warning);
  width: 16px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  list-style: none;
  padding: 4px;
  color: var(--black);
  font-size: 12px;
}

.seat {
  display: inline-block;
  background-color: var(--warning);
  width: 16px;
  height: 20px;
  border-radius: 4px;
  padding: 4px;
  color: var(--black);
  font-size: 16px;
  margin-right: 8px;
}

.seatSummary {
  flex: 1;
  text-align: right;
}

.seatSummary p {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--black);
  font-size: 16px;
  margin-bottom: 8px;
}

.seatSummary .seat {
  display: inline-block;
  background-color: var(--warning);
  width: 14px;
  height: 20px;
  border-radius: 4px;
  margin-left: 4px;
}

.seatSummary .price {
  display: block;
  margin-top: 8px;
  font-size: 24px;
  color: var(--black);
}

.seatWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.spacer {
  width: 10px;
}

.seatMap {
  display: grid;
  grid-template-columns: repeat(2, 20px) 1fr repeat(2, 20px);
  gap: 2px 0;
  justify-content: center;
}

.seatButton {
  width: 14px;
  height: 20px;
  background-color: var(--light);
  border: 1px solid var(--secondary);
  border-radius: 4px;
  cursor: pointer;
}

.seatButton.selected {
  background-color: var(--warning);
  color: var(--white);
}

.exitRow {
  grid-column: span 5;
  height: 40px;
}